<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'auth')}">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8">
</head>

<body>
	
	<script src="https://www.gstatic.com/firebasejs/6.5.0/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/6.4.1/firebase-auth.js"></script>
	<script src="https://www.gstatic.com/firebasejs/6.4.1/firebase-database.js"></script>
	<script>
		var firebaseConfig = {
		    apiKey: "AIzaSyB5939azRtOYbdMhqcjkb-sZK2BW62rnWM",
		    authDomain: "ezbus-271cc.firebaseapp.com"
	  	};
		// Initialize Firebase
		firebase.initializeApp(firebaseConfig);
	</script>
	<script>
	    window.onload = function() {
			document.getElementById("authLogin").style.display = "[[${login}]]";
			document.getElementById("authLogout").style.display = "[[${logout}]]";
    		document.getElementById("login").addEventListener("click", signIn, false);
    		document.getElementById("logout").addEventListener("click", signOut, false);
	    }
	    
	    function signIn() {
			var email = document.getElementById('email').value;
			var password = document.getElementById('password').value;
			
			if (email.length < 4) {
				alert('Please enter an email address.');
				return;
			} else if (password.length < 4) {
				alert('Please enter a password.');
				return;
			}
			
			firebase.auth().signInWithEmailAndPassword(email, password).catch(function(error) {
				var errorCode = error.code;
				var errorMessage = error.message;
				if (errorCode === 'auth/user-not-found') {
					alert('Wrong or not existing email.');
				} else if (errorCode === 'auth/wrong-password'){
					alert('Wrong password.');
				} else {
					alert(errorMessage);
				}
				console.log(error);
			});
	    }
	    
	    function signOut() {
	    	firebase.auth().signOut();
			var id = "/auth/null";
			var xhttp = new XMLHttpRequest();
			xhttp.onreadystatechange = function() {
				if (this.readyState == 4 && this.status == 200) {
					window.location.href = "/";
				}
			};
			xhttp.open("POST", id, true);
			xhttp.send();
	    }
		
		firebase.auth().onAuthStateChanged((user) => {
			if (user && "[[${login}]]" == "visible") {
				// User logged in already or has just logged in.
				firebase.auth().currentUser.getIdToken(true).then(function(idToken) {
					var id = "/auth/"+user.uid+"/"+idToken;
					var xhttp = new XMLHttpRequest();
					xhttp.onreadystatechange = function() {
						if (this.readyState == 4 && this.status == 200)
							window.location.href = "/admin";
					};
					xhttp.open("POST", id, true);
					xhttp.send();
				}).catch(function(error) {
				  // Handle error
				});
			} else {
				// User not logged in or has just logged out.
			}
		});
	</script>

	<div class="container-fluid" id="authLogin">
    	<div class="container xd-container">
			<h2>Login</h2>
			<br>
			<input type="email" name="" placeholder="Email" id="email"><br>
			<input type="password" name="" placeholder="Password" id="password"><br><br>
			<input type="submit" name="" value="Accedi" id="login"><br> <br>
			<p>Non possiedi un account?</p>
			 <input type="submit" name="" value="Registrati" id="register" onClick="window.location.href = '/register'">
		</div>
	</div>

	<div class="container-fluid" id="authLogout">
    	<div class="container xd-container">
			<h2>Logout</h2>
			<br>
			<input type="submit" name="" value="Disconnetti" id="logout">
		</div>
	</div>

</body>

</html>