<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'auth')}">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8">
</head>

<body>

	<div class="container-fluid">
    	<div class="container xd-container">
			<h2>Logout</h2>
			<br>
			<input type="submit" name="" value="Disconnetti" id="logout">
		</div>
	</div>
	
	<script src="https://www.gstatic.com/firebasejs/6.5.0/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/6.4.1/firebase-auth.js"></script>
	<script src="https://www.gstatic.com/firebasejs/6.4.1/firebase-database.js"></script>
	<script>
		var firebaseConfig = {
		    apiKey: "AIzaSyB5939azRtOYbdMhqcjkb-sZK2BW62rnWM",
		    authDomain: "ezbus-271cc.firebaseapp.com",
		    databaseURL: "https://ezbus-271cc.firebaseio.com",
		    projectId: "ezbus-271cc",
		    storageBucket: "ezbus-271cc.appspot.com"
	  	};
		// Initialize Firebase
		firebase.initializeApp(firebaseConfig);
	</script>
	<script>
	    window.onload = function() {
    		document.getElementById("logout").addEventListener("click", signOut, false);
	    }
	    
	    function signOut() {
	    	firebase.auth().signOut();
	    	localStorage.clear();
	    }
		
		firebase.auth().onAuthStateChanged((user) => {
			if (user) {
				// User logged in already or has just logged in.
				var id = user.uid;
				localStorage.setItem("userId", id);
			} else {
	    		window.location.href = "/auth/authLogin";
				// User not logged in or has just logged out.
			}
		});
	</script>

</body>

</html>