<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'auth')}">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8">
</head>

<body>

	<div class="container-fluid">
    	<div class="container xd-container">

			<form class="box" action="/admin" method="post">
				<h2>Login Azienda</h2>
				<input type="email" name="" placeholder="Email">
				<input type="password" name="" placeholder="Password">
				<input type="submit" name="" value="Accedi">
			</form>
	
		</div>
	</div>
	   
	<script src="//firebase/6.4.2/firebase-app.js"></script>
	<script src="//firebase/init.js"></script>

</body>
</html>
