<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'auth')}">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8">
</head>

<body>
	
	<script src="https://www.gstatic.com/firebasejs/6.5.0/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/6.4.1/firebase-auth.js"></script>
	<script src="https://www.gstatic.com/firebasejs/6.4.1/firebase-database.js"></script>
	<script>
		var firebaseConfig = {
		    apiKey: "AIzaSyB5939azRtOYbdMhqcjkb-sZK2BW62rnWM",
		    authDomain: "ezbus-271cc.firebaseapp.com"
	  	};
		// Initialize Firebase
		firebase.initializeApp(firebaseConfig);
	</script>
	<script>
	    window.onload = function() {
    		document.getElementById("register").addEventListener("click", register, false);
	    }
	    
	   		    
	    function register() {
	    	var name = document.getElementById('name').value;
			var iva = document.getElementById('iva').value;
	    	var email = document.getElementById('email').value;
			var password = document.getElementById('password').value;
			if (name.length == 0) {
				alert('Please insert your company name.')
			}
			else if (iva.length !=10) {
				alert('VAT number must be a 10-digit number.')
			}
			else if (email.length < 4) {
				alert('Please enter an email address.');
				return;
			} else if (password.length < 9) {
				alert('Please enter a password.');
				return;
			}
	    }
	 }
		
			</script>

	<div class="container-fluid" id="authRegister">
    	<div class="container xd-container">
			<h2>Registrazione</h2>
			<br>
			<input type="text" name="" placeholder="Nome Azienda" id="name"><br>
			<input type="number" name="" placeholder="Partita IVA" id="iva"><br>
			<input type="email" name="" placeholder="Email" id="email"><br>
			<input type="password" name="" placeholder="Password" id="password"><br><br>
			<input type="submit" name="" value="Registrati" id="register"><br> <br>
		</div>
	</div>
</body>

</html>