<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'auth')}">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8">
</head>

<body>
	
	<script src="https://www.gstatic.com/firebasejs/6.5.0/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/6.4.1/firebase-auth.js"></script>
	<script src="https://www.gstatic.com/firebasejs/6.4.1/firebase-database.js"></script>
	<script>
		var firebaseConfig = {
		    apiKey: "AIzaSyB5939azRtOYbdMhqcjkb-sZK2BW62rnWM",
		    authDomain: "ezbus-271cc.firebaseapp.com"
	  	};
		// Initialize Firebase
		firebase.initializeApp(firebaseConfig);
	</script>
	<script>
	    window.onload = function() {
			document.getElementById("register").addEventListener("click", register, false);
	    }
	    
	    function register() {
			var name = document.getElementById("name").value;
			var iva = document.getElementById("iva").value;
			var email = document.getElementById("email").value;
			var password = document.getElementById("password").value;
			var formError = "Compila correttamente i campi:";
			
			if (name.length == 0 || iva.length == 0 || email.length == 0 || password.length == 0) {
			    alert("Devi compilare tutti i campi");
			} else {
				if (name.length < 4) 
					formError = formError.concat("\n- Il nome deve essere di almeno 4 caratteri")
				if (iva.length != 11)
					formError = formError.concat("\n- La partita iva deve essere composta da 11 cifre")
				if (password.length < 8)
					formError = formError.concat("\n- La password deve contenere almeno 8 caratteri")
				if (formError.length == 30) {
					firebase.auth().createUserWithEmailAndPassword(email, password).then(function(userCreds) {
				        alert("Ti sei registrato!");
				        firebase.auth().signOut();
						var id = "/auth/register/"+userCreds.user.uid+"/"+name+"/"+iva+"/"+email;
						var xhttp = new XMLHttpRequest();
						xhttp.onreadystatechange = function() {
							if (this.readyState == 4 && this.status == 200)
								window.location.href = "/auth";
						};
						xhttp.open("POST", id, true);
						xhttp.send();
						//window.location.href = "/admin";
				    }).catch(function(error) {
				        alert("Qualcosa è andato storto...");
				        var errorCode = error.code;
				        var errorMessage = error.message;
				        console.log("Error code " + errorCode + " - " + errorMessage);
				    });
				} else {
					alert(formError);
				}
			}
	    }
	</script>

	<div class="container-fluid">
    	<div class="container xd-container">
			<h2>Registrazione</h2><br>
    		<input placeholder="Nome" id="name">
    		<br><br>
			<input placeholder="Partita IVA" id="iva">
			<br><br>
			<input type="email" placeholder="Email" id="email">
			<br><br>
			<input type="password" placeholder="Password" id="password">
			<br><br><br>
			<button class="btn btn-default" id="register">Registrati</button>
        	<a class="btn btn-default" th:href="@{/auth}">Indietro</a>
    	</div>
    </div>
	
</body>

</html>