<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'admin')}">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8">
</head>

<body>

	<div class="container-fluid">
    	<div class="container xd-container">
    		
    		<form method="post" action="#" th:action="@{/passes/add}" th:object="${pass}">
    			<h2>Nuovo abbonamento</h2>
    			<br>
	    		<input th:field="*{name}" placeholder="Nome">
	    		<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Errore Nome</p>
	    		<br><br>
			    <input th:field="*{city}" placeholder="Città">
	    		<p th:if="${#fields.hasErrors('city')}" th:errors="*{city}">Errore Città</p>
	    		<br><br>
			    <input th:field="*{price}" placeholder="Prezzo">
	    		<p th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Errore Prezzo</p>
	    		<br><br>
			    <input th:field="*{validity}" placeholder="Durata">
	    		<p th:if="${#fields.hasErrors('validity')}" th:errors="*{validity}">Errore Durata</p>
	    		<br><br><br>
				<button class="btn btn-default" type="submit" th:text="Crea">Crea</button>
	        	<a class="btn btn-default" th:href="@{/passes}">Indietro</a>
            </form>
            
    	</div>
    </div>

</body>

</html>