<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'admin')}">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8">
</head>

<body>

	<div class="container-fluid">
    	<div class="container xd-container">
    		
    		<form method="post" action="/passes/add">
    			<h2>Nuovo abbonamento</h2>
	    		<input name="nome" placeholder="Nome"><br><br>
			    <input name="citta" placeholder="Città"><br><br>
			    <input name="prezzo" placeholder="Prezzo"><br><br>
			    <input name="durata" placeholder="Durata"><br><br>
				<input type="submit" value="Crea"><br><br>
            </form>
            
	        <a class="btn btn-default" th:href="@{/passes}">Indietro</a>
            
    	</div>
    </div>

  </body>
</html>