<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'admin')}">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8">
</head>

<body>

	<div class="container-fluid">
    	<div class="container xd-container">
	
			<h2>Modifica Tratta</h2><br>

		    <table id="routes" class="table table-striped" th:object="${route}">
			    <tr>
			        <th>Nome</th>
			        <td><b th:text="*{name}"></b></td>
			    </tr>
			    <tr>
			        <th>Fermata di partenza</th>
			        <td th:text="*{start}" /></td>
		        </tr>
		        <tr>
			        <th>Fermata di destinazione</th>
			        <td th:text="*{end}" /></td>
		        </tr>
		    </table>

	        <a class="btn btn-default" th:href="@{/routes}">Indietro</a>
	
		</div>
	</div>
	
	<script>
	    window.onload = function() {
	    	if(localStorage.getItem("userId") == null)
	    		window.location.href = "/auth/authLogin";
	    }
	</script>
	
</body>

</html>