<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'admin')}">

<body>

	<div class="container-fluid">
    	<div class="container xd-container">
	
			<h2>Routes List</h2>

		    <table id="routes" class="table table-striped">
		        <thead>
			        <tr>
			            <th>Name</th>
			            <th style="width: 150px;">City</th>
			            <th style="width: 100px;">Price</th>
			            <th style="width: 100px;">Validity</th>
			        </tr>
		        </thead>
		        <tbody>
			        <tr th:each="route : ${selections}">
			            <td><a th:href="@{/routes/__${route.id}__}" th:text="${route.name}"/></a></td>
			            <td th:text="${route.city}"/>
			            <td th:text="${route.price}"/>
			            <td th:text="${route.validity}"/>
			        </tr>
		        </tbody>
		    </table>
	
		</div>
	</div>
	
</body>

</html>